[project]
name = "stac-asset"
version = "0.0.3"
description = "Read, download, and write STAC assets across platforms and providers"
authors = [
    {name = "Pete Gadomski", email = "pete.gadomski@gmail.com"}
]
readme = "README.md"
keywords = ["stac", "async"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Development Status :: 3 - Alpha",
]
license = {text = "Apache-2.0"}
requires-python = ">=3.8"
dependencies = [
    "aiofiles>=23.1.0",
    "aiobotocore>=2.5.0",
    "aiohttp>=3.8.4",
    "pystac>=1.7.3",
    "yarl>=1.9.2",
]

[project.optional-dependencies]
dev = [
    "black~=23.3",
    "mypy~=1.3",
    "pre-commit~=3.3",
    "pytest~=7.3",
    "pytest-asyncio~=0.21",
    "ruff==0.0.270",
    "types-aiofiles~=23.1",
]
docs = [
    "pydata-sphinx-theme~=0.13",
    "sphinx~=7.0",
]

[project.urls]
repository = "https://github.com/gadomski/stac-asset"
changelog = "https://github.com/gadomski/stac-asset/blob/main/CHANGELOG.md"

[tool.mypy]
strict = true

[tool.ruff]
select = ["F", "E", "W", "I", "ERA", "RUF"]
